@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: #fcfcfc;
  color: #183864;
}

h1 {
  font-weight: 700;
}

p {
  font-size: 16px;
}

.active {
  border-bottom: 2px solid #fafafa;
  font-weight: 600;
}

.form-label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.form-input {
  outline: none;
  border: 1px solid #b5b3b3;
  padding: 8px 20px;
  width: 100%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.section-about {
  background: linear-gradient(
      0deg,
      rgba(94, 39, 100, 0.08) 0%,
      rgba(94, 39, 100, 0.08) 100%
    ),
    url('./assets/about.jpeg') lightgray 50% / cover no-repeat;
  /* height: 500px; */
  width: 100%;
}

@media (max-width: 767px) {
  .section-about {
    background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.35) 0%,
        rgba(0, 0, 0, 0.35) 100%
      ),
      url('./assets/about1.jpeg') lightgray 0px -72.2px / 100% 113.604% no-repeat;
    width: 100%;
  }

  .active {
    color: #712f79;
    border-bottom: none;
  }
}
